<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>diaoxiong.workflow.format_helper</string>
	<key>connections</key>
	<dict>
		<key>238826D7-9CC8-4C6C-8DD1-676B8449B046</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C160E0E2-DCFB-4523-ABFB-D73D421F3D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D2C2E28-8EB3-4D07-927B-9B4A1D6CFF6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A997EA2F-7A95-401B-BBEA-63177DE44B3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48942DF6-0DB3-4AE0-9DCC-85BAFD7BD8E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E73C0A7-6B78-4AEE-86B3-F010AA209B6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59F20118-05C2-42FA-9477-E60E1305F7CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>786D1F06-D9F1-451F-8E91-A41BC6719888</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>786D1F06-D9F1-451F-8E91-A41BC6719888</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C160E0E2-DCFB-4523-ABFB-D73D421F3D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E73C0A7-6B78-4AEE-86B3-F010AA209B6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C160E0E2-DCFB-4523-ABFB-D73D421F3D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A997EA2F-7A95-401B-BBEA-63177DE44B3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C160E0E2-DCFB-4523-ABFB-D73D421F3D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C317FD60-D5D0-4675-985F-9BE517AF2DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAFD2F4C-2255-4599-A657-694B4AD610F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C676A3C1-882D-45F5-8240-0CB34746FA06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>238826D7-9CC8-4C6C-8DD1-676B8449B046</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAFD2F4C-2255-4599-A657-694B4AD610F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C160E0E2-DCFB-4523-ABFB-D73D421F3D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>diaoxiong</string>
	<key>description</key>
	<string>format string</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Format Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

python3 sql_formatter.py "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>786D1F06-D9F1-451F-8E91-A41BC6719888</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>SQL Formatter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>59F20118-05C2-42FA-9477-E60E1305F7CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

python3 json_formatter.py "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>238826D7-9CC8-4C6C-8DD1-676B8449B046</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>JSON Formatter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C676A3C1-882D-45F5-8240-0CB34746FA06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C160E0E2-DCFB-4523-ABFB-D73D421F3D14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

python3 case_converter.py upper "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E73C0A7-6B78-4AEE-86B3-F010AA209B6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Upper Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>48942DF6-0DB3-4AE0-9DCC-85BAFD7BD8E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Lower</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C317FD60-D5D0-4675-985F-9BE517AF2DCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

python3 case_converter.py lower "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FAFD2F4C-2255-4599-A657-694B4AD610F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

python3 camel_snake.py "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A997EA2F-7A95-401B-BBEA-63177DE44B3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Camel Snake</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3D2C2E28-8EB3-4D07-927B-9B4A1D6CFF6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>238826D7-9CC8-4C6C-8DD1-676B8449B046</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>3D2C2E28-8EB3-4D07-927B-9B4A1D6CFF6A</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>48942DF6-0DB3-4AE0-9DCC-85BAFD7BD8E7</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>59F20118-05C2-42FA-9477-E60E1305F7CE</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>786D1F06-D9F1-451F-8E91-A41BC6719888</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>9E73C0A7-6B78-4AEE-86B3-F010AA209B6D</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>A997EA2F-7A95-401B-BBEA-63177DE44B3C</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>C160E0E2-DCFB-4523-ABFB-D73D421F3D14</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>C317FD60-D5D0-4675-985F-9BE517AF2DCF</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>C676A3C1-882D-45F5-8240-0CB34746FA06</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>FAFD2F4C-2255-4599-A657-694B4AD610F4</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
